@media (max-width: 768px)
 header
  .container
   justify-content: flex-end !important
 .fixed_active
  .row
   padding-right: 0 !important
 .top-nav_active
  .logo
   z-index: 100
   a
    color: $red-color !important
    transition: .3s ease-in
  .top-nav_menu
   top: 0
  .humburger
   z-index: 100
   span
    height: 0 !important
    &:after, &:before
     background-color: $red-color !important
    &:after
     transform: rotate(-45deg) !important
    &:before
     transform: rotate(45deg) !important
 .top-nav
  position: fixed
  top: -40px
  left: -1px
  width: 101vw
  height: 80px
  align-items: center
  z-index: 50
  .row
   height: 100px
   align-items: center
   padding: 0 30px
  &_menu
   background-color: #fff
   width: 100% !important
   height: 100vh !important
   position: fixed
   top: -100vh
   left: 0
   flex-direction: column
   justify-content: flex-start !important
   align-items: flex-start
   margin: 0
   padding: 0
   padding-top: 80px !important
   transition: .3s ease-in-out
   z-index: -1
   li:first-child
    border-top: 1px solid #000
   li
    height: auto
    margin: 0
    padding: 0 50px
    width: 100%
    .menu_active
     font-size: 16px
     color: $red-color !important
     border-bottom: 1px solid $red-color
    a
     display: flex
     align-items: center
     height: 50px
     color: #000 !important
     margin: 0
     width: 100%
     border-bottom: 1px solid #000
     transition: .3s
     &:after, &:before
      content: '' !important
     &:hover
      font-size: 16px
      color: $red-color !important
      border-bottom: 1px solid $red-color
  .humburger
   display: flex
   align-items: center
   padding: 2px
   width: 24px
   height: 20px
   span
    height: 1px
    width: 20px
    background-color: #fff
    position: relative
    transition: .1s ease-in-out
    &:after, &:before
     content: ''
     display: block
     width: 20px
     height: 1px
     background-color: inherit
     position: absolute
     top: 0
     left: 0
     transition: .2s ease-in-out
    &:after
     transform: translateY(5px)
    &:before
     transform: translateY(-5px)   